
<section class="navigation-bar">
<div class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">Journal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class=" navbar-nav">
      <a class="nav-item nav-link" id="item-bootstrap-override" href="#"><span class="pen"><i class="fas fa-pen fa-lg"></i></span></a>
      <a class="nav-item nav-link" id="item-bootstrap-override" href="#">Diary</a>
      <a class="nav-item nav-link" id="item-bootstrap-override" href="#">To Do</a>
    </div>
  </div>
</nav>
</section>

<section class="main-body">

</section>
