body {
    margin: 0;
    font-family: 'Roboto Slab', serif;;
    font-weight: 600;
    background-color: #EDF0F2;
}

h1, h2, label {
    color: #232f34;
}

p {
    font-weight: 200;
}
nav {
    background-color: #344955;
}

.navbar-brand {
    color: red;
    margin: 0 20px;
    font-size: 2rem;
    padding-right: 30px;
}

.container-fluid {
    padding: 0;
}


/* navbar */
#item-bootstrap-override {
    margin: 20px;
}

.pen {
    background-color: #ffc107;
    padding: 15px;
    border-radius: 50%;
    color: #232f34 !important;
}

.fas.fa-pen.fa-lg:hover {
    color: white;
}

@media screen and (max-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link .pen {
        margin: 15px 0;
    }

    .navbar-brand {
        margin-bottom: 15px;
    }
}


.btn-delete {
    font-size: .8rem;
}

.row {
    margin: 30px;
}

div.col-lg-3.col-md-4 {
    padding: 15px;
}

.btn-form {
    display: inline-block;
    padding: 10px;
}

